:root{
    --primary: #3292a6;
}

.navbar{
    box-shadow: 2px 2px 5px var(--primary);
    background: #fff;
    opacity: 0.9;
}
.navbar .nav-item{
    font-size: 1.3rem;
    padding-right: 20px;
}
.nav-item:last-child{
    padding-right: 0;
}
.navbar .nav-item .nav-link{
    color: #252525;
}
.navbar .nav-item .nav-link:hover{
    color: var(--primary);
}
 a{
    text-decoration: none;
}
#showcase{
    background-image: url('../img/mountains.jpg');
}